body {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffe9caff;
}

#livros-container,
.menu {
    display: flex;
    max-width: 70%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}


.livro {
    margin: 5px;
    width: 115px;
    height: 150px;
    border-top: 5px solid #f5f5f5;
    border-left: 5px solid #000000;
}


.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
}


ul {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    
}

li {
    text-decoration: none;
    margin-right: 35px;
}


.container {
    display: flex;
    max-width: 70%;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
}

.tutorial {
    max-width: 100%;
    border: #000000 2px;
}


@media only screen and (max-width: 768px) {
    #livros-container,
    .menu {
        display: flex;
        max-width: 95%;
        flex-wrap: wrap;
        padding: 15px;
        justify-content: center;
    }
    
    .links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        list-style-type: none;
    }
}
